version: '3.8'
services:
  db:
    image: postgres:13
    restart: always
    environment:
      POSTGRES_USER: youruser  # Choisis un user, e.g., 'admin'
      POSTGRES_PASSWORD: yourpassword  # Choisis un mot de passe fort
      POSTGRES_DB: meetingdb  # Nom de ta DB
    ports:
      - "5432:5432"
    volumes:
      - db-data:/var/lib/postgresql/data

  redis:
    image: redis:alpine
    ports:
      - "6379:6379"

volumes:
  db-data: